# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/bin/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/controlLayer.cpp
/controlLayer2.cpp
/controlLayer3.cpp
/controlLayer5.cpp
/dCNS
/dCNS.cbp
/venv/
/.idea/
/cmake-build-debug/
/lib/
